<div class="container">
    
    

     <div>
         <table class="table">
             <thead>
             <tr>
                <th>cow Number</th>
                <th>Cow Name</th>
                <th>MILK_DATE</th>
                <th>MILKING PERIOD</th>
                <th>TOTAL MILK</th>
                <th>COMMENT</th>
             </tr>
            </thead>
            <tbody>
            
                <tr *ngFor="let milkrecord of milkrecords">
                    <td>{{milkrecord.cownumber}}</td>
              <td>{{milkrecord.cowname}}</td>      
              <td>{{milkrecord.date}}</td>
              <td>{{milkrecord.milking_period}}</td> 
              <td>{{milkrecord.total}}</td>
              <td>{{milkrecord.comment}}</td>           
                    <!-- <td>
                        <button type="button" class="btn btn-primary" [routerLink]="['/admin/addcourse']" (click)="requestCourse()">requestCourse</button>
                    </td> -->
                </tr>


            </tbody>


         </table>

     </div>

</div>

