<div>
<header>
    
    <ul class="nav nav-tabs">
        
        <li class="nav-item" class="col-md-2">
            <p>Perferct Learning</p>
          </li>
        
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">

        <a class="nav-link"  routerLink="/courses" routerLinkActive="active" >Courses</a>
      </li>
      <li class="nav-item">
        
       <a class="nav-link" [routerLink]="['/ContactUs']" routerLinkActive="active"> Contanct Us</a>

      </li>

    <li class ='nav-item'>
          
              <input type="text" class="form-control" placeholder="Search">
       
         
    </li>

    </ul>
</header>

</div>


    
      <!-- <div class ="col-md-10 pt-3 col-lg-6 col xl-7 d-flex align-items-center order-1 order-lg-2">
        <img src="../../../assets/images/image1.PNG"
         class ="img-fluid" alt="sample-image">
      </div>
 -->
 <div class="container">


 </div>






