  <div class="container">
     

<div class='container mt-3'>
    <div>
<b><p>welcome to Home page Admin</p></b>
</div>

<div>
  <h2>Admin Dashboard</h2>
  <!-- This router-outlet is needed for child routes to render -->
  <router-outlet></router-outlet>
</div>

<form #addForm="ngForm" (ngSubmit)="storeCourse()" novalidate>
<div  class="row g-3" >

<div>
    <p class="col-md-3"> Record Daily Milk Production</p>
</div>



<div class="col-md-4">
  <div class="form-group">
  <label for="coursename">Cow  Name</label>
  <input type="text" id="coursename" name="coursename" class="form-control" [(ngModel)]="milkProduction.cowname"   required
  #courseNameCtrl="ngModel"  
/>
<div *ngIf="courseNameCtrl.invalid && (courseNameCtrl.touched || courseNameCtrl.dirty)" class="alert alert-danger">
  Course name is required
</div>



<div class="col-md-4">
  <div class="form-group">
  <label for="cownumber">Cow  Number</label>
  <input type="text" id="cownumber" name="cownumber" class="form-control" [(ngModel)]="milkProduction.cownumber"   required
  #cowNumberCtrl="ngModel"  
/>
<div *ngIf="cowNumberCtrl.invalid && (cowNumberCtrl.touched || cowNumberCtrl.dirty)" class="alert alert-danger">
  Cow Number is required
</div>
  </div>
</div>

</div>
  <div class=" col-md-6">
    <div class="form-group">
      <label for="date">MILK DATE:</label>
      <input type="date" id="date" name="date" class="form-control" [(ngModel)]="milkProduction.date" required>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <label for="class">Milking Time:</label>
      <select id="class" name="class" class="form-control" [(ngModel)]="milkProduction.milking_period" required>
        <option value="" disabled>Select a Milking Time</option>
        <option value="Asubuhi">Asubuhi</option>
        <option value="Jioni">Jioni</option>
     
      </select>
    </div>
  </div>


  
  <div class="col-md-6">
    <div class="form-group">
    <label for="totalmilk">Total Milk in Litres</label>
    <input type="text" id="totalmilk" name="totalmilk" class="form-control" [(ngModel)]="milkProduction.total"   required
    #totalMilkCtrl="ngModel"  
  />
  <div *ngIf="totalMilkCtrl.invalid && (totalMilkCtrl.touched || totalMilkCtrl.dirty)" class="alert alert-danger">
    Total Milk per given period is required
  </div>
    </div>
  </div>

  <div class="col-md-6"></div>
    <div class="form-group">
    <label for="comment">Comment </label>
    <input type="text" id="comment" name="comment" class="form-control" [(ngModel)]="milkProduction.comment"   required
    #commentCtrl="ngModel"  
  />
  <div *ngIf="commentCtrl.invalid && (commentCtrl.touched || commentCtrl.dirty)" class="alert alert-danger">
    Kindly update with desired Comment
  </div>
    </div>
  

</div>


<div class="form-group">

<button type="button" class="btn btn-primary mt-2" (click)="addRecord()"> Add Milk Record </button>

</div>

<div class="row g-3 mt-3">

<div class="form-group">

<button type="button" class="btn btn-primary mt-2" (click)="updateCourse(0)">Update Milk Record</button> 

<button type="button" class="btn btn-primary mt-2" (click)="reset(addForm)"> Reset</button>

</div>

</div>

</div>




</form>

</div>
