<div class="container">

     <ul class="nav nav-tabs">
        
        <li class="nav-item" class="col-md-2">
            <p>Farm Feeding Tab</p>
          </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/feedingd']" routerLinkActive="active">Add Daily Feed Record</a>
      </li>

    </ul>  
    
<div class='container mt-3'>
    <div>
<b><p>welcome to Home page Admin</p></b>
</div>

<form #addForm="ngForm" (ngSubmit)="storeCourse()" novalidate>
<div  class="row g-3" >

<div>
    <p class="col-md-3"> Record Daily Cost and Return</p>
</div>


<div class=" col-md-6">
    <div class="form-group">
      <label for="date">Date </label>
      <input type="date" id="date" name="date" class="form-control" [(ngModel)]="feeding.date" required>
    </div>
  </div>


<div class="col-md-4">
  <div class="form-group">
  <label for="animalgroup">Animal Group</label>
  <input type="text" id="animalgroup" name="animalgroup" class="form-control" [(ngModel)]="feeding.animalgroup"   required
  #animalgroupCtrl="ngModel"  
/>
<div *ngIf="animalgroupCtrl.invalid && (animalgroupCtrl.touched || animalgroupCtrl.dirty)" class="alert alert-danger">
Animal Group is required
</div>
 </div>
  </div>


<div class="col-md-4">
  <div class="form-group">
  <label for="feedingredient">Feed Ingredient</label>
  <input type="text" id="feedingredient" name="feedingredient" class="form-control" [(ngModel)]="feeding.feedingredient"   required
  #feedingredientCtrl="ngModel"  
/>
<div *ngIf="feedingredientCtrl.invalid && (feedingredientCtrl.touched || feedingredientCtrl.dirty)" class="alert alert-danger">
Feed Ingredient is required
</div>
 </div>
  </div>

 <div class="col-md-4">
  <div class="form-group">
  <label for="quantity">Quantity (kg)	</label>
  <input type="text" id="quantity" name="quantity" class="form-control" [(ngModel)]="feeding.quantity"   required
  #quantityCtrl="ngModel"  
/>
<div *ngIf="quantityCtrl.invalid && (quantityCtrl.touched || quantityCtrl.dirty)" class="alert alert-danger">
Quantity (kg)	 is required
</div>
 </div>
  </div>

<div class="col-md-4">
  <div class="form-group">
  <label for="drymatter">Dry Matter (%)</label>
  <input type="text" id="drymatter" name="drymatter" class="form-control" [(ngModel)]="feeding.drymatter"   required
  #drymatterCtrl="ngModel"  
/>
<div *ngIf="drymatterCtrl.invalid && (drymatterCtrl.touched || drymatterCtrl.dirty)" class="alert alert-danger">
Dry Matter (%) is required
</div>
 </div>
  </div>


<div class="col-md-4">
  <div class="form-group">
  <label for="totaldm">Total DM (kg)</label>
  <input type="text" id="totaldm" name="totaldm" class="form-control" [(ngModel)]="feeding.totaldm"   required
  #totaldmCtrl="ngModel"  
/>
<div *ngIf="totaldmCtrl.invalid && (totaldmCtrl.touched || totaldmCtrl.dirty)" class="alert alert-danger">
Total DM (kg) is required
</div>
 </div>
  </div>





  <div class="col-md-6"></div>
    <div class="form-group">
    <label for="comment">Comment </label>
    <input type="text" id="comment" name="comment" class="form-control" [(ngModel)]="feeding.comment"   required
    #commentCtrl="ngModel"  
  />
  <div *ngIf="commentCtrl.invalid && (commentCtrl.touched || commentCtrl.dirty)" class="alert alert-danger">
    Kindly update with desired Comment
  </div>
   </div>
  </div>
  
  




<div class="form-group">

<button type="button" class="btn btn-primary mt-2" (click)="addfeedRecord()"> Add cost and return Record </button>

</div>

<div class="row g-3 mt-3">

<div class="form-group">

<!-- <button type="button" class="btn btn-primary mt-2" (click)="updateCourse(0)">Update Milk Record</button> 
 -->
<button type="button" class="btn btn-primary mt-2" (click)="reset(addForm)"> Reset</button>

</div>
</div>



</form>


</div>
